@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,400i,700');

@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/reset.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/display.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/positioning.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/flexbox.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/align.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/spacing.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/buttons.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/forms.css';
@import 'https://unpkg.com/svbstrate@4.1.1/src/lib/z-index.css';

/*
@custom-media --400 (min-width: 25em);
@custom-media --600 (min-width: 37.5em);
@custom-media --800 (min-width: 50em);
@custom-media --1000 (min-width: 62.5em);
@custom-media --1200 (min-width: 75em);
@custom-media --1400 (min-width: 87.5em);

:root {
  --200: 200ms;
  --400: 400ms;
  --600: 600ms;
  --800: 800ms;
  --1000: 1000ms;
  --ease: ease-in-out;
  --cubic: cubic-bezier(.06,.83,.1,1);
}
*/

:root {
  --black: #4A5964;
  --theme: #ECCF6A;
  --gray: #F9FBFD;
  --gray-medium: #EAEEF3;
  --blue: #7a9cc6;
  --red: #dd7373;
  --purple: #a288a6;
  --teal: #51a3a3;
}

html, body {
  color: var(--black);
  font-family: 'Roboto Mono', -apple-system, system-ui, BlinkMacSystemFont, sans-serif;
  font-size: 100%;
  line-height: 1.7;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
h1, h2, h3, h4, h5, h6, p {
  max-width: 640px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 0.25em;
}
h1 + h1, h1 + h2, h1 + h3, h1 + h4, h1 + h5, h1 + h6,
h2 + h1, h2 + h2, h2 + h3, h2 + h4, h2 + h5, h2 + h6,
h3 + h1, h3 + h2, h3 + h3, h3 + h4, h3 + h5, h3 + h6,
h4 + h1, h4 + h2, h4 + h3, h4 + h4, h4 + h5, h4 + h6,
h5 + h1, h5 + h2, h5 + h3, h5 + h4, h5 + h5, h5 + h6,
h6 + h1, h6 + h2, h6 + h3, h6 + h4, h6 + h5, h6 + h6 {
  margin-top: 0;
}
.s1,
h1, .h1 {
  font-size: 2.5rem;
}
@media (min-width: 37.5em) {
  .s1, h1, .h1 {
    font-size: 4rem;
  }
}
h1, .h1 {
  line-height: 1.1;
}
.s2,
h2, .h2 {
  font-size: 1.5rem;
}
@media (min-width: 37.5em) {
  .s2, h2, .h2 {
    font-size: 2.5rem;
  }
}
h2, .h2 {
  line-height: 1.3;
}
.s3,
h3, .h3 {
  font-size: 1.25rem;
}
@media (min-width: 37.5em) {
  .s3, h3, .h3 {
    font-size: 1.5rem;
  }
}
h3, .h3 {
  line-height: 1.5;
}
.s4,
h4, .h4 {
  font-size: 1rem;
}
@media (min-width: 37.5em) {
  .s4, h4, .h4 {
    font-size: 1.25rem;
  }
}
h4, .h4 {
  line-height: 1.5;
}
.s5,
h5, .h5 {
  font-size: 1rem;
}
h5, .h5 {
  line-height: 1.6;
}
.s6,
h6, .h6 {
  font-size: 0.875rem;
}
h6, .h6 {
  line-height: 1.6;
}
.s0,
p, .p {
  font-size: 1rem;
}
p, .p {
  line-height: 1.7;
  max-width: 40em;
}
p {
  margin: 1em 0;
}
a {
  color: inherit;
  text-decoration: none;
  text-shadow: 1px 1px 0 #fff, -1px 1px 0 #fff, 2px 0 0 #fff, -2px 0 0 #fff;
  box-shadow: inset 0 0 0 0 #fff, inset 0 -3px 0 0 var(--theme);
}
a:hover {
  box-shadow: inset 0 0 0 0 #fff, inset 0 -3px 0 0 var(--black);
}
hr {
  display: block;
  border: 0;
  margin: 40px 0;
  height: 3px;
  max-width: 350px;
  width: 100%;
  background-color: currentColor;
  color: var(--gray-medium);
}
small, .small {
  font-size: 0.75em;
}
strong, .b {
  font-weight: bold;
}
em, .i {
  font-style: italic;
}
.caps {
  text-transform: uppercase;
}
.no-under {
  text-decoration: none;
}
li {
  position: relative;
  margin: .33em 0;
  padding-left: 1.5em;
}
ul, ol {
  margin: 0;
  padding-left: 1em;
  list-style: none;
}
ul ol, ul ul, ol ul, ol ol {
  padding-left: 1em;
}
ol {
  counter-reset: num;
}
ol li::before {
  content: counter(num) '.';
  counter-increment: num;
  display: block;
  position: absolute;
  left: 0; top: 0;
  color: var(--theme);
  font-weight: bold;
}
ul li::before {
  content: '•';
  display: block;
  position: absolute;
  left: 0; top: 0;
  color: var(--theme);
  font-weight: bold;
}
::selection {
  background: var(--theme);
}
#root {
  padding: 20px;
}
pre {
  font-family: inherit;
  margin: 20px -20px;
  background: var(--gray);
  padding: 20px;
  border-left: 4px solid var(--theme);
  overflow-y: hidden;
  overflow-x: auto;
}
pre code {
  background: transparent;
}
code {
  font-family: inherit;
  background-color: var(--theme);
}
code::selection {
  background: var(--black);
  color: white;
}
@media (min-width: 50em) {
  #root {
    padding: 80px;;
  }
  pre {
    margin: 40px -80px;
    padding: 80px;
  }
}

/**
 * Syntax
 */
pre {
  font-family: inherit;
  margin: 20px -20px;
  background: var(--gray);
  padding: 20px;
  border-left: 4px solid var(--theme);
  overflow-y: hidden;
  overflow-x: auto;
}
@media (min-width: 50em) {
  pre {
    margin: 40px -80px;
    padding: 80px;
  }
}
pre code {
  background: transparent;
}
code {
  font-family: inherit;
  background-color: var(--theme);
}
code::selection {
  background: var(--black);
  color: white;
}
code, pre {
  color: var(--black);
  font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  font-size: 0.95em;
  line-height: 1.2em;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  background: var(--black);
  color: white;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  background: var(--black);
  color: white;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: var(--black);
  opacity: 0.7;
  font-style: italic;
}

.token.namespace {
  opacity: .7;
}

.token.string,
.token.attr-value {
  color: var(--red);
}
.token.punctuation,
.token.operator {
  color: var(--black); /* no highlight */
}

.token.entity,
.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.property,
.token.regex,
.token.inserted {
  color: var(--blue);
}

.token.atrule,
.token.keyword,
.token.attr-name,
.language-autohotkey .token.selector {
  color: var(--teal);
}

.token.function,
.token.deleted,
.language-autohotkey .token.tag {
  color: var(--black);
}

.token.tag,
.token.selector,
.language-autohotkey .token.keyword {
  color: var(--black);
}

.token.important,
.token.function,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}
